.titleClass{
  color: blueviolet;
  font-size: 30px;
  font-family: 'Monoton', cursive;

}

.music-form-card {
  margin: 20px;
  border-color: #5b0091;
  border-radius: 0px;
}

input[type="text"]
{
  font-family: 'Bellefair', serif;
}

.music-form {
  padding: 10px;
  background-color: #e2dbde;
}

.music-card {
  /*margin: 20px;*/
  border-bottom: 4px solid blue;
}

.active {
  color: red;
  font-style: italic;
  font-weight: bold;
}

.active2{
  color: #545253;
  font-style: italic;
}

.btn{
  color: #5b0091;
  background-color: #c6b9e2;
  border-color: #5b0091;
  font-family: 'Rozha One', serif;
  border-radius: 0px;
}

.card-header{
  background-color: #a28caa;
  font-size: 20px;
}
