<form #musicForm="ngForm" class="card music-form-card" novalidate="true" (ngSubmit)="save(musicForm)">
<div class="card music-form-card">
  <div class="card-header text-center" [style.fontSize.px]="titleSize">Chosen song:</div>
  <div class="music-form">
    <div class="form-group">
      <label>Title:</label>
      <!--have to add name in inputs values!!!!-->
      <input #title="ngModel" name="title" input type="text" class="form-control" [(ngModel)]="music.title" required minlength="3">
      <div class="errors" *ngIf="title.touched || title.dirty || title.submitted">
        <div *ngIf="title.errors?.required">To pole jest wymagane</div>
        <div *ngIf="title.errors?.minlength">To pole musi mieć przynajmniej {{title.errors.minlength.requiredLength}} znaków</div>
      </div>
    </div>
    <div class="form-group">
      <a href="{{music.youTube}}">You Tube</a>
      <input name="youTube" type="text" class="form-control" [(ngModel)]="music.youTube">
    </div>
    <div class="form-group">
      <label>Artist:</label>
      <input type="text" class="form-control" [(ngModel)]="music.artist" >
    </div>
    <div class="form-group">
      <label>Category:</label>
      <input name="category" type="color" [(ngModel)]="music.category">
    </div>
    <div class="form-group">
      <input name="favourite" type="checkbox" [(ngModel)]="music.favourite">
      <label>Favourite?</label>
    </div>
    <div class="form-group">
      <button class="btn" (click)="onCancel.emit()">Back to main menu</button>
      <button class="btn" (click)="onSave.emit(music)">Save</button>
      <button class="btn" (click)="onDelete.emit(music)">Delete</button>
    </div>
  </div>
</div>
</form>
