<!--The content below is only a placeholder and can be replaced.-->
<div class="titleClass" style="text-align:center">
  {{ title }}
</div>

<!--<div class="container">-->
  <div class="row">

    <div class="col-md-4">
      <js-music-form *ngIf="edited != null" [music]="edited" (save)="save($event)" (cancel)="cancel()" (delete)="delete()"></js-music-form>
    </div>

     <div class="col-md-8">
      <div class="row justify-content-around">
        <div *ngFor="let music of musics">
          <js-music  [music]="music" [isSelected]="music==selected" (selected)="select(music)"></js-music>
          <js-rating [rating]="music.rating" music-header></js-rating>
        </div>
      </div>
    </div>

  </div>

<!--<div class="row">-->
  <!--<div class="col-md-4">-->
    <!--<js-music *ngIf="edited != null" [music.favourite]= true></js-music>-->
  <!--</div>-->
<!--</div>-->
<!--</div>-->
